* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
    background: url('/public/img/zombie.png') #333 no-repeat fixed right 10px bottom 60px;
}
form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}
form button {
    width: 9%;
    background: #114000;
    color: #ddd;
    border: none;
    padding: 10px;
}
form button:hover {
    color: #fff;
    background-color: #1e7200;
    cursor: pointer;
}
form label {
    color: #aaa;
    font-style: italic;
    padding: 5px;
}
#messages {
    list-style-type: none;
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
}
#messages > li {
    padding: 5px 10px;
    background-color: #666;
}
#messages > li:nth-child(odd) {
    background: #444;
}
.player-command {
    color: #0be400;
    font-family: 'courier';
}
.player-command:before {
    content: '> ';
    font-size: .6rem;
}
.game-status {
    color: #aaa;
    padding-left: 25px;
    list-style-type: none;
}
.game-status-welcome li {
    font-style: italic;
}
